.wrapper .main-app {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px;
}

.wrapper .main-app section {
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-bottom: 20px;
  justify-content: center;

  h1 {
    font-size: 16px;
    font-family: $paragraph-font;
    color: $second-color;
    padding-top: 5px;
    margin-left: 6px;
  }
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.app-title {
  border-bottom: solid 0.3px $border-color;
  padding: 4px;
  margin: 6px;
}

.period-select {
  border-bottom: 0.2px solid $border-color;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    height: 52px;
    padding: 10px;
    margin-left: auto;
    border-radius: $button-radius;
    background-color: $border-color;
  }
}

.graph-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px auto;

  .graph-chart {
    margin: 20px auto;
  }

  .graph-title h2 {
    font-family: $paragraph-font;
    font-size: 15px;
    color: $main-color;
    margin: 50px auto;
    float: left;
  }
}

.graph-legend .box {
  float: left;
  background-color: #f3f5f9;
  padding: 8px 20px;
  margin: 10px;
}

.graph-legend {
  color: $main-color;
  font-family: $paragraph-font;
  font-size: 15px;
}

.wrapper .main-content.viewer {
  margin-left: 0;
  transition: 0.5s;

  .header {
    width: 100%;
    transition: 0.5s;
  }
}