.sidebar__icon a {
  font-size: 15px;
  text-decoration: none;
  color: grey;
  margin-left: 10px;
}

.sidebar ul a i {
  margin-right: 16px;
}

.hamburger {
  display: flex;
  justify-content: space-around;
}

.hamburger a {
  color: white;
  font-size: 27px;
}

.hamburger a:hover {
  color: orange;
}

.sidebar li:hover {
  background-color: #231f1f;
  border-left: 4px solid orange;
  cursor: pointer;
}

.sidebar__manager {
  border-top: 1px solid grey;
  text-align: left;
  margin-top: 40px;
  .manager__name {
    color: grey;
    font-size: 16px;
    font-family: $paragraph-font;
    margin: 30px 20px 0 20px;
  }
}

.sidebar__manager:hover {
    background-color: #231f1f;
    cursor: pointer;
}
.manager__info {
  display: flex;

  img {
    display: inline-block;
    margin: 25px 15px;
  }

  p {
    display: block;
    margin-top: 37px;
  }
}

.btn-add {
        background-color:$button-color;
        border-radius: 4px;
        display: flex;
        cursor:pointer;
        color: white;
        font-family:Verdana;
        font-size:17px;
        padding:15px 18px;
        text-decoration:none;
        border: none;
        margin: 20px auto;
}

.btn-add:hover {
    background-color: #231f1f;
}