.wrapper .sidebar {
  width: 200px;
  height: 100%;
  background: $paragraph-color;
  position: fixed;
  padding-top: 10px;

  .mobile_sidebar-icons {
    display: none;
  }

  h3 {
    color: white;
    font-size: 30px;
    font-family: $logo-font;
  }

  ul li {
    padding: 15px;

    a {
      color: grey;
      display: block;
      font-family: $paragraph-font;
    }
  }
}

.wrapper .sidebar ul li:hover a {
  color: white;
}

.hamburger {
  display: flex;
  justify-content: space-around;

  a {
    color: white;
    font-size: 27px;
  }
}

.hamburger a:hover {
  color: $button-color;
}

.sidebar li:hover {
  background-color: $button-hover-color;
  border-left: 4px solid $button-color;
  cursor: pointer;
}