.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 200px;
  height: 100%;
  background: #000000;
  position: fixed;
  padding-top: 10px;
}

.wrapper .sidebar h2 {
  color: #fff;
  font-size: 30px;
  font-family: $logo-font;
}

.wrapper .sidebar ul li {
  padding: 15px;
}

.wrapper .sidebar ul li a {
  color: grey;
  display: block;
  font-family: $paragraph-font;
}

.wrapper .sidebar ul li:hover {
  background-color: #231f1f;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header {
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  position: fixed;
  width: calc(100% - 200px);
  display: flex;
  justify-content: flex-end;
  height: 50px;
}

.wrapper .main-app {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px;
}

.wrapper .main-app section {
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-bottom: 20px;
}

.wrapper .main-app section h1 {
  font-size: 16px;
  font-family: $paragraph-font;
  color: #979797;
  padding-top: 5px;
}

.app-title {
  border-bottom: solid 0.3px #E3E3E3;
}

.nav-icon {
  display: inline-flex;
  font-size: 18px;
  border-left: solid 0.3px #E3E3E3;
  padding: 14px;
  font-family: sans-serif;
  
  i{
    margin: 0 20px;
  }
}

.nav-icon:hover {
    cursor: pointer;
    background-color: orange;
}
