.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@for $i from 1 through 12 {
  .col-sm-#{$i} {
    $width: 100% / 12 * $i;
    flex: 0 0 $width;
    max-width: $width;
  }
}