/* Colors */
$paragraph-color: #000000;
$button-color: #f58220;
$border-color: #e3e3e3;
$button-hover-color: #231f1f;
$main-color: #717171;
$second-color: #979797;
$back-color: #f3f5f9;
$links-color: #4d94ff;

/* Font sizes */
$paragraph-font-size: 16px;
$button-font-size: 17px;

/* Fonts */
$paragraph-font: "Open Sans", Helvetica, Arial;
$logo-font: "Satisfy", cursive;
$button-font: "Verdana";

/* Radius */
$button-radius: 4px;